// @source http://smacss.com/book/type-base
//
// Base Rules
//
// A Base rule is applied to an element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// It doesn’t include any class or ID selectors. It is defining the default
// styling for how that element should look in all occurrences on the page.

// ==========================================================================
// $Base
// ==========================================================================
@import 'base';

/* ==========================================================================
   margins & padding
   ========================================================================== */

h1, h2, h3, h4, h5, h6, p, figure, img{
    margin: 0;
}

h1, dt, h4{
    margin-bottom: 1.5rem;
}


.social,
h3, p, dd{
    margin-bottom: 3rem;
}

dd{
    margin-left: 0;
}

.social a{
    margin-right: 1.5rem;
}

header img{
    display: block;
    margin-bottom: 0;
}

section, aside{
    padding: 4.5rem 3rem;
}

/* ==========================================================================
   Backgrounds
   ========================================================================== */

header{
    background: #4F4D47;
}

main{
    background: #eee;
}

section{
    background: white;
    @include bp(sm){
        
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);   
    }
}

/* ==========================================================================
   layout
   ========================================================================== */

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    @include bp(sm){
        display: flex;
    }
}

header .wrapper, figure{
    display: flex;
}

header .wrapper .text{
    align-self: center;
    
}

figure{
    align-items: flex-end;
}

section, .text{
    flex: 0 1 75%;
}
aside, figure{
    flex: 0 1 25%;
}

header{
    img{
        max-width: 300px;
    }
    .wrapper{
        
    }
}

@include bp(sm){
    section{
        margin-top: -15rem;
    }
}
/* ==========================================================================
   button
   ========================================================================== */

.btn{
    display: block;
    text-align: center;
    padding: 1.5rem;
    border: 1px solid #848A5F;
    background: #fff;
    color: #848A5F;
}
